[submodule "dein.vim"]
	path = dein.vim
	url = git@github.com:Shougo/dein.vim.git
[submodule "test/mattn/benchvimrc-vim"]
	path = test/mattn/benchvimrc-vim
	url = https://github.com/mattn/benchvimrc-vim.git
[submodule "test/syngan/vim-vimlint"]
	path = test/syngan/vim-vimlint
	url = https://github.com/syngan/vim-vimlint.git
[submodule "test/ynkdir/vim-vimlparser"]
	path = test/ynkdir/vim-vimlparser
	url = https://github.com/ynkdir/vim-vimlparser.git
[submodule "test/Kuniwak/vint"]
	path = test/Kuniwak/vint
	url = https://github.com/Kuniwak/vint.git
